#money-calculator { 
  display: none !important; 
  width: 50% !important; 
  padding-bottom: 10px; 
  padding-left: 20px;
}

#money-calculator > div {
  text-align: center !important; 
  margin-left: 5px !important;
}

#money-calculator > div > input {
  text-align: center !important;
  width: 100% !important;
}